<!DOCTYPE html>
<html ng-app="testApp">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="angulargrid.min.js"></script>
    <body ng-controller="appController">
        <header>
            <img src="Slices/Back.png"/>
            <span class="title">{{title}}</span>
            <input type="text" placeholder="Search" ng-model="search" class="search-btn" ng-change="changeSearch()"/>
        </header>

        <div when-scrolled="loadImages()" id='SCROLL'>
            <div class="" ng-repeat="image in images" ng-if="$index % 3 === 0">
                <div class="img-div">
                    <span class="diva">
                            <img ng-src="Slices/{{images[$index].src}}" class="img" width="32%" ng-if="$index < images.length"/>
                            <div class="text-block"> 
                                    <p ng-class="{'small': images[$index].name.length>20}">{{images[$index].name}}</p>
                                  </div>
                    </span>
                    <span class="diva">
                            <img ng-src="Slices/{{images[$index + 1].src}}" class="img" width="32%"  ng-if="$index + 1 < images.length"/>
                            <div class="text-block"> 
                                    <p ng-class="{'small': images[$index].name.length>20}">{{images[$index+1].name}}</p>
                                  </div>
                    </span>
                    <span class="diva">
                            <img ng-src="Slices/{{images[$index + 2].src}}" class="img" width="32%" ng-if="$index + 2 < images.length"/>
                            <div class="text-block"> 
                                    <p ng-class="{'small': images[$index].name.length>20}">{{images[$index+2].name}}</p>
                                  </div>
                    </span>
                </div>
        </div>
    </div>
    </body>
</html>
